
.titleScreen{
  display:flex;
  background-color: rgb(117 190 218 / 50%);
  width: 95vw;
  height:50vh;
  justify-content: center;
}
.titleScreen h1 {
  align-self: center;
  font-size: 100px;
}
.titleScreenButtons{
  display:flex;
  width:95vw;
}
.titleScreenButtonsLeft{
  display:flex;
flex-grow:1;
justify-content: center;
}
#startGame{
  align-self: center;
  color: blue;
  flex-grow:1;
  height:100%;
}
.titleScreenButtonsRight{
  display:flex;
flex-grow:1;
}

.fieldBox{
  margin-top: 8px;
  display:flex;
  flex-direction: column;
  
}
.nameInput{
  margin-bottom: 2px;
}

  .point {
    margin:5px;
    display:flex;
    align-self:center;
    width: 5px;
    height: 5px;
    
    
    
    border-radius: 50%;
    border: 1px solid black;
  }

  .city {
    margin: 5px;
    width: 25px;
    height:25px;
    border: 1px solid black;
    
    text-align: center;
    
   
    
  }

  .leftCity, .rightCity  {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    display:flex;
    align-self:center;
    text-align: center;
  }

  .point, .city, .leftCity, .rightCity{
    transition: box-shadow 2s;
  }

  

  .board {
    display:flex;
    flex-direction: column;
    width: 95vw;
    height: 95vh;
    
    align-self: center;
  }

 
  .firstRow{
    display:flex;
    height: 25px;
    width:100%;
    justify-content: space-between;
    align-items: center;
   
  }

  .tileRow{
    display:flex;
    flex-grow:1;
    justify-content: space-around;
  }
  .secondRow{
    display:flex;
    flex-direction: row-reverse;
    height:400px;
    flex-grow:1;
    width:100%;
    justify-content: space-between;
    
    align-items: stretch;
  }
  .leftColumn {
    margin:5px;
    width:25px;
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .rightColumn {
    display:flex;
    flex-direction: column;
  }
  .rightColumnPart {
    flex-grow:1;
    margin:5px;
    width:25px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
 

  .thirdRow{
    flex-direction:row-reverse;
    display:flex;
    height:25px;
    width:100%;
    justify-content: space-between;
    align-items: center;
}
  .thirdRow .tileRow {
    flex-direction: row-reverse;
  }

  .movement{
    cursor: pointer;
    
    box-shadow: 0 0 6px 4px orange;
  }

  .movement::after {
    content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  transform: scale(2);
}
  

  .activePlayer {
    box-shadow: 0 0 3px 5px red;
  }
.rollDie{
  color:red;
}

.playerOne{
  box-shadow: 0 0 3px 5px red;
}
.playerTwo{
  box-shadow: 0 0 3px 5px blue;
}
.playerThree{
  box-shadow: 0 0 3px 5px green;
}
.playerFour{
  box-shadow: 0 0 3px 5px yellow;
}